.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.firebase/
.lock-wscript
.netlify
.next/
.node_repl_history
.npm
.pnp.js
.vscode
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.tgz
build/
coverage/
dev/
dist/
jspm_packages/
logs/
node_modules/
out/
temp/
tmp/