.DS_Store
.eslintcache
.firebase/
.lock-wscript
.netlify/
.next/
.node_repl_history
.vscode/
*.env
*.env-*
*.env.*
*.log
*.log-*
*.log.*
*.npm
*.pem
*.pid
*.pid-*
*.pid.*
*.pnp.js
*.seed
*.stackdump
*.tgz
*package-lock*
build/
coverage/
dev/
dist/
jspm_packages/
logs/
node_modules/
out/
storybook-static/
temp/
tmp/