/* RULES */

footer {
    z-index: 10;
    width: 100%;
}

.footer-break {
    width: 1024px;
    height: 3px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background: var(--divider);
}

.footer-fix {
    display: flex;
    flex-wrap: nowrap;
    width: 1024px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* LEFT */

.footer-left {
    vertical-align: top;
    width: 100%;
}

.footer-left-txt {

}

/* RIGHT */

.footer-right {
    vertical-align: top;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}

.footer-right a {
    position: relative;
    width: fit-content;
    height: 20px;
    margin-left: 10px;
}

.footer-right-icon {
    height: 100%;
    transition: var(--anim-02);
}

.footer-right-icon:hover {
    opacity: 0.5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 1000px) {
    
}
@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {
    
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}