/* THEME */

:root {
    --scale: 1;
    --primary: #c2e0a4;
    --secondary: #61c6c4;
    --info: #0080ff;
    --success: #00c864;
    --warning: #ffa064;
    --error: #ff5064;
    --bg: #ffffff;
    --txt-primary: #505050;
    --txt-secondary: #50505080;
    --txt-tertiary: #50505040;
    --txt-contrast: #ffffff;
    --divider: #50505020;
    --act-invisible: #50505000;
    --act-static: #50505020;
    --act-hover: #50505040;
    --h1: 50px;
    --h2: 32px;
    --h3: 24px;
    --h4: 21px;
    --h5: 18px;
    --h6: 16px;
    --p: 12px;
    --anim-fast: 0.1s ease-out;
    --anim-norm: 0.2s ease-out;
    --anim-slow: 0.5s ease-out;
}

/* RULES (GLOBAL) */

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--act-invisible);
}

::-webkit-scrollbar-track {
    background-color: var(--act-static);
}

::-webkit-scrollbar-thumb {
    background-color: var(--txt-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--txt-primary);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--primary);
}

:focus {
    outline-color: var(--primary);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--p);
    font-weight: 300;
    line-height: normal;
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--txt-primary);
    background-color: var(--bg);
}

body.modal-open {
    overflow: hidden;
}

a {
    vertical-align: top;
    color: var(--txt-primary);
}

h1 {
    vertical-align: top;
    font-size: var(--h1);
}

h2 {
    vertical-align: top;
    font-size: var(--h2);
}

h3 {
    vertical-align: top;
    font-size: var(--h3);
}

h4 {
    vertical-align: top;
    font-size: var(--h4);
}

h5 {
    vertical-align: top;
    font-size: var(--h5);
}

h6 {
    vertical-align: top;
    font-size: var(--h6);
}

#root {
    position: relative;
    min-height: 100vh;
}

#about, #character, #illustration, #design, #photography, #resume, #lost {
    position: relative;
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {
    :root {
        --scale: 0.9;
        --h1: 35px;
        --h2: 28px;
        --h3: 21px;
        --h4: 18px;
        --h5: 16px;
        --h6: 14px;
    }
}
@media screen and (max-width: 1280px) {
    :root {
        --scale: 0.85;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --scale: 0.8;
        --h1: 28px;
        --h2: 24px;
        --h3: 18px;
        --h4: 16px;
        --h5: 14px;
        --h6: 12px;
    }
}
@media screen and (max-width: 800px) {
    :root {
        --scale: 0.75;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --scale: 0.7;
    }
}
@media screen and (max-width: 480px) {
    :root {
        --scale: 0.667;
        --h1: 24px;
        --h2: 18px;
        --h3: 16px;
        --h4: 14px;
        --h5: 12px;
        --h6: 10px;
    }
}
@media screen and (max-width: 360px) {
    
}