/* RULES */

nav {
    z-index: 20;
    width: 100%;
}

.nav-break {
    width: 100%;
    height: 0px;
}

/* NAV BAR */

.nav-bar {
    height: 50px;
    background: var(--primary)
}

.nav-bar-fix {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar-btn, .nav-bar-btn-active {
    padding-top: 27px;
    padding-bottom: 23px;
    color: var(--txt-primary);
    text-align: center;
    cursor: pointer;
    transition: var(--anim-02);
}

.nav-bar-btn:hover, .nav-bar-btn:focus {
    color: var(--txt-contrast);
}

.nav-bar-btn:active, .nav-bar-btn-active {
    color: var(--txt-contrast);
}

.nav-bar-btn h4, .nav-bar-btn-active h4 {
    line-height: 0;
    font-weight: 400;
}

/* NAV PROFILE */

.nav-profile {
    margin: 50px 0;
}

.nav-profile-image {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nav-profile-image img {
    max-width: 256px;
    max-height: 256px;
}

.nav-profile-title {
    font-family: 'Josefin Slab', sans-serif;
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
}
.nav-profile-subtitle {
    font-family: 'Josefin Slab', sans-serif;
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 360px) {
    
}